<app-home></app-home>

<h3>Find a bird</h3>
<div>
    <div>
    <mat-form-field>
        <mat-label>Color</mat-label>
        <input matInput placeholder="Main bird color" value="" type="text" [(ngModel)]="color" required="true" (ngModelChange)="onInputChange()">
     </mat-form-field>
    <mat-form-field>
        <mat-label>Secondary Color</mat-label>
        <input matInput placeholder="Another color you see" value="" type="text" [(ngModel)]="secondaryColor" required="true" (ngModelChange)="onInputChange()">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Size</mat-label>
        <input matInput placeholder="small, medium or large" value="" type="text" [(ngModel)]="size" required="true" (ngModelChange)="onInputChange()">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Shape</mat-label>
        <input matInput placeholder="tall, short, squat or long" value="" type="text" [(ngModel)]="shape" required="true" (ngModelChange)="onInputChange()">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Habitat</mat-label>
        <input matInput placeholder="woodlands, trees, water" value="" type="text" [(ngModel)]="habitat" required="true" (ngModelChange)="onInputChange()">
      </mat-form-field>
    </div>

    <button mat-flat-button color="primary" [disabled]="true" [disabled]="disableSearchButton" (click)="onSubmit()">Search</button>
</div>
    <br><br><br>
    <mat-divider></mat-divider>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <ng-container matColumnDef="info">
      <th mat-header-cell *matHeaderCellDef>Info</th>
      <td mat-cell *matCellDef="let element"> {{element.info}} </td>
    </ng-container>
  
    <ng-container matColumnDef="url">
      <th mat-header-cell *matHeaderCellDef> Image Url </th>
      <td mat-cell *matCellDef="let element"> {{element.url}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>


