<app-home></app-home>

<h3>Add a bird</h3>
<div>
    <div>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput placeholder="Bird name" value="" type="text" [(ngModel)]="name" required="true">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Info</mat-label>
        <input matInput placeholder="Some info about bird" value="" type="text" [(ngModel)]="info" required="true">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Image Url</mat-label>
        <input matInput placeholder="Url" value="" type="text" [(ngModel)]="url" required="true">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Color</mat-label>
        <input matInput placeholder="Main bird color" value="" type="text" [(ngModel)]="color" required="true">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Secondary Color</mat-label>
        <input matInput placeholder="Another color you see" value="" type="text" [(ngModel)]="secondaryColor" required="true">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Size</mat-label>
        <input matInput placeholder="small, medium or large" value="" type="text" [(ngModel)]="size" required="true">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Shape</mat-label>
        <input matInput placeholder="tall, short, squat or long" value="" type="text" [(ngModel)]="shape" required="true">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Habitat</mat-label>
        <input matInput placeholder="woodlands, trees, water" value="" type="text" [(ngModel)]="habitat" required="true">
      </mat-form-field>
    </div>
    <button mat-flat-button color="primary" (click)="onSubmit()">Add</button>
</div>

